.footer
  background-color: #f0f0f0
  position: relative
  padding-bottom: 44px

  &__lines .lines__elem
    background: rgba(255, 255, 255, 0.6)

  &__copy
    // margin-left: 0 @lg 35.4166666667vw
    text-align: @lg-down center
    font-family: $font
    text: #1D273E 14px @lg 12px @xl 14px
    opacity: 0.5018
