.footer
  position: relative
  z-index: 9
  margin-top: -40px @md -60px @xl -90px

  &__lines .lines__elem
    background: rgba(255, 255, 255, 0.6)
    opacity: @lg-down 0

  &__copy
    text-align: @lg-down center
    font-family: $font
    text: #1D273E 14px @lg 12px @xl 14px
    opacity: 0.5018
