.hero
  background: resolve('hero/bg.jpg') center / cover
  height: calc(100vh - 60px)
  box: vertical center middle
  margin: 30px

  &__title
    text: 700 center 120px 110px #fff
    font-family: $font-title
    margin-top: auto

  &__text
    text: 500 left 17px 26px #fff
    font-family: $font-text
    align-self: flex-start
    margin-left: 6.25%

  &__discover
    text: 400 left 18px #fff
    font-family: $font-title
    margin-top: auto