.history
  position: relative

  &__title
    margin-bottom: 130px
    
  &__lines .lines__elem
    background: rgba(0, 0, 0, 0.05)

  &__map
    position: absolute 0 0 null 0

  &__k1
    position: absolute
    top: 200px
    left: 6.25%
    z-index: 2

  &__icon
    margin-bottom: 40px

  &__text

    &--right
      margin-left: 80px

    &--1
      width: 340px
    