.home

  &__k1
    position: fixed
    top: 260px @md 300px @lg 560px
    left: auto @lg 6.25%
    right: 0 @lg auto
    z-index: 2
    width: @md-down 24% @lg-down 11%
    opacity: 0
    transition: opacity .3s ease-in-out
    transition-delay: .9s

    &--show
      opacity: 1