header.header
  nav.header__nav
    a.header__logo.header__logo--dark(href='#!')
    a.header__link(href='#!') History
    a.header__link(href='#!') Press
    a.header__logo.header__logo--white(href='#!')
    a.header__link(href='#!') About
    a.header__link(href='#!') Sponsorship