mixin header($class)
  header.header(class=$class)
    nav.header__nav
      a.header__logo.header__logo--dark(href='#!')
      .header__logo.header__logo--white

      .header__mobile-nav
        .header__mobile-nav-line
        .header__mobile-nav-line
        .header__mobile-nav-line

      .header__nav-wrap
        a.header__link(href='#!') History
        a.header__link(href='#!') Press
        a.header__link(href='#!') About
        a.header__link(href='#!') Sponsorship