.loader
  .loader__logo
  .loader__progress

  .loader__lines
    .loader__lines-elem
    .loader__lines-elem
    .loader__lines-elem
    .loader__lines-elem
    .loader__lines-elem
    .loader__lines-elem
    .loader__lines-elem
    .loader__lines-elem

style.
  .home--scroll-hide {
    overflow: hidden;
    height: 100vh;
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
  }

  .loader__logo {
    background: #fff
      url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='173' height='23' fill='%231D273E'%3E%3Cpath fill-rule='evenodd' d='M69.7953 22.7485H74.2312V1.08142H69.7953V22.7485zM147.923 22.7485H152.357V1.08142H147.923V22.7485zM121.408 1.08118V13.4161L110.801 1.08118H109.206V22.7483H109.312V22.81H113.653V11.0242L124.208 22.8039H125.841L125.845 1.08118H121.408zM140.808 1.08118V13.4161L130.207 1.08118H128.609V22.7483H128.721V22.81H133.053V11.0242L143.609 22.8039H145.244L145.25 1.08118H140.808zM76.9186 1.05676V5.49608H82.0216V22.7483H86.4643V5.49608H92.1138V1.05676H76.9186zM97.5441.417969L88.4221 22.8749H93.0682L93.597 21.62H101.976L102.491 22.8749H107.121L98.0018.417969H97.5441zM97.7787 11.2186L100.319 17.5515H95.2411L97.7787 11.2186zM44.8189 7.81197C44.7477 8.89943 43.8386 9.7557 42.7389 9.7557H38.4806V5.5835H42.7389C43.8386 5.5835 44.7477 6.44519 44.8189 7.52655 44.825 7.57739 44.825 7.62282 44.825 7.66892 44.825 7.72045 44.825 7.76587 44.8189 7.81197zM44.8189 16.4418C44.7477 17.5252 43.8386 18.3883 42.7389 18.3883H38.4806V14.2113H42.7389C43.8386 14.2113 44.7477 15.073 44.8189 16.1605 44.825 16.2059 44.825 16.252 44.825 16.3028 44.825 16.3483 44.825 16.3944 44.8189 16.4418zM44.8189 1.46486C44.166 1.24046 43.4677 1.12656 42.7389 1.12656 41.1179 1.12656 34.0291 1.11707 34.0291 1.11707V22.8506H42.7389C43.4677 22.8506 44.166 22.7327 44.8189 22.5076 46.364 21.9923 47.6542 20.9116 48.4454 19.5157 48.9233 18.6594 49.2243 17.6811 49.2772 16.6384V15.9645C49.2243 14.9211 48.9233 13.9422 48.4454 13.0906 48.2162 12.6913 47.9552 12.3259 47.6542 11.9876 47.9552 11.6466 48.2162 11.2784 48.4454 10.8866 48.9233 10.0262 49.2243 9.0513 49.2772 8.00588V7.33266C49.2243 6.28724 48.9233 5.313 48.4454 4.45673 47.6542 3.06079 46.364 1.97808 44.8189 1.46486zM62.6914 7.81197C62.6202 8.89943 61.7144 9.7557 60.6114 9.7557H56.3531V5.5835H60.6114C61.7144 5.5835 62.6202 6.44519 62.6914 7.52655 62.6975 7.57739 62.6975 7.62282 62.6975 7.66892 62.6975 7.72045 62.6975 7.76587 62.6914 7.81197zM66.3178 10.8866C66.7958 10.0262 67.0921 9.0513 67.1497 8.00588V7.33266C67.0921 6.28724 66.7958 5.313 66.3178 4.45673 65.5266 3.06079 64.2365 1.97808 62.6914 1.46486 62.0338 1.24046 61.3355 1.12656 60.6114 1.12656 58.9904 1.12656 51.8955 1.11707 51.8955 1.11707V22.833H56.3531V14.2113H58.7327L62.6419 22.911H67.5524L63.0541 13.7374C64.4351 13.1822 65.589 12.1767 66.3178 10.8866zM160.808 17.5518L163.352 11.2183 165.889 17.5518H160.808zM163.572.418213H163.116L153.995 22.8758H158.639L159.163 21.6202H167.549L168.058 22.8758H172.694L163.572.418213zM14.9063 1.16211H9.8263L4.35105 9.51465V1.16211H-.000137329V22.9113H4.35105V14.3953L10.2961 22.9113H15.5144L7.84868 11.9011 14.9063 1.16211z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M16.9416 1.19324L14.1124 5.54239H18.606V22.9112H22.926V1.19324H16.9416Z' clip-rule='evenodd'/%3E%3C/svg%3E")
      no-repeat 15px / 173px;
    width: calc(173px + 25px);
    height: 23px;
    position: relative;
    z-index: 9;
    padding: 0 15px;
    animation: fadein 0.5s;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .loader__logo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: .3s ease;
    transition-delay: .3s;
    background: #fff;
  }

  .loader--logo-hide .loader__logo:before {
    width: 100%;
  }

  .loader--lines-hide .loader__logo,
  .loader--lines-hide .loader__progress {
    display: none;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .loader__progress {
    border-bottom: 1px #e03a3e solid;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    animation: progress 3s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
  }

  .loader--progress-hide .loader__progress {
    transform: scaleX(0);
    transform-origin: right;
    transition: .3s ease;
  }

  @keyframes progress {
    0% {
      width: 0;
    }
    10% {
      width: 20%;
    }
    20% {
      width: 45%;
    }
    60% {
      width: 70%;
    }
    75% {
      width: 80%;
    }
    85% {
      width: 90%;
    }
    100% {
      width: 100%;
    }
  }

  .loader__lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .loader__lines-elem {
    background: #fff;
    height: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: .3s ease-in-out;
  }

  .loader__lines-elem:nth-child(1) {
    transition-delay: 0s
  }
  .loader__lines-elem:nth-child(2) {
    transition-delay: .1s
  }
  .loader__lines-elem:nth-child(3) {
    transition-delay: .2s
  }
  .loader__lines-elem:nth-child(4) {
    transition-delay: 0s
  }
  .loader__lines-elem:nth-child(5) {
    transition-delay: .15s
  }
  .loader__lines-elem:nth-child(6) {
    transition-delay: .25s
  }
  .loader__lines-elem:nth-child(7) {
    transition-delay: 0s
  }
  .loader__lines-elem:nth-child(8) {
    transition-delay: .15s
  }

  .loader__lines-elem {
    width: 22.5%;
  }

  .loader__lines-elem:first-child,
  .loader__lines-elem:last-child {
    width: 5%;
  }

  .loader--lines-hide .loader__lines-elem {
    transform: scaleX(0);
  }

  .loader--lines-hide {
    pointer-events: none;
  }

  @media (min-width: 680px) {
    .loader__lines-elem {
      width: 14.5833333%;
    }

    .loader__lines-elem:first-child,
    .loader__lines-elem:last-child {
      width: 6.25%;
    }
  }

  @media (min-width: 1024px) {

  }
