mixin lines($class)
  .lines(class=$class)
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem

mixin sponsorship(data, $class)
  section.sponsorship__item(class=$class)
    h2.sponsorship__title!= data.title
    .sponsorship__text
      .sponsorship__text-side
        each item in data.text1
          .sponsorship__text-item!= item
      .sponsorship__text-side
        each item in data.text2
          .sponsorship__text-item!= item