-
  var links = [
    {
      title: 'Trust',
      site: 'https://k1britanniatrust.org/',
      logo: 'k1_britannia_trust',
      child: [
        { logo: 'logo-5.png', site: 'https://www.turnstyledesigns.com' }
      ]
    },
    {
      title: 'Foundation',
      site: 'https://k1britanniafoundation.org/',
      logo: 'k1_britannia_foundation',
      child: [
        { logo: 'logo-4.png', site: 'http://www.carrefour.com' },
        { logo: 'logo-3.png', site: 'https://www.oranjefonds.nl' },
      ]
    },
    {
      title: 'America',
      site: 'https://k1america.org/',
      logo: 'k1_america',
      child: [
        { logo: 'logo-1.png', site: 'https://www.carnival.com' },
        { logo: 'logo-2.png', site: 'https://www.hollandamerica.com' },
      ]
    }
  ]

  var sponsor1 = {
    title: 'PLATINUM <span class="sponsorship__title-accent">$1,000,000</span>',
    text1: [
      'Invitation for your CEO or company representative to attend board meetings where they can represent your country/region and have a say in what charities we work with in your region and what events/activities we participate in your region.',
      'Also as above; but will include 10 VIP tickets per event for company clients.',
      'Boat usage 7 days per year. If you should choose to book for a regatta you can have a spinnaker created with your company logo along side the charity of your choice that can be flown during the regatta.',
    ],
    text2: [
      'Your name will be added to a plaque that will be placed on the boat in special ceremony during the launch. <br>Optional: Have Britannia be part of your life’s legacy and have our legacy advisor help to create a legacy package catered specifically for you.',
      'You may have full use of the yacht for one fundraising or promotional event a year for your official cause/charity that’s associated with your company.',
      'Your corporation may negotiate terms at the time of sponsorship agreement on how you can use the boat for your allotted week a year and for when the boat comes to your part of the world.',
    ]
  }

  var sponsor2 = {
    title: 'GOLD <span class="sponsorship__title-accent">$750,000</span>',
    text1: [
      'The same as above; but it will include 6 VIP ticketsper event for company clients. Your company logo will have a higher listing as official K1 Britannia Sponsors at every charity function.',
      'Boat usage 5 days per year. You will have access to the full events calendar and can use part or all your available dates to book during a major event.'
      ],
    text2: [
      '(Film Festival/F1/Boat show/Regatta - All events have to be pre-booked in advance according to availability.)',
      'Be included in a dedication to sponsors in commemorative book and final documentary that will be launched after the build is complete and that will be sold and gifted around the world.'
    ]
  }

  var sponsor3 = {
    title: 'SILVER <span class="sponsorship__title-accent">$500,000</span>',
    text1: [
      'VIP Invitations to the Launch Ceremony. Your company’s sponsorship and charitable credentials will be highlighted at this and every other occasion.',
      'Company invitation to have representatives at all charity events (UK and International) hosted on the yacht Britannia and or any other promotional events hosted by The K1 Britannia Trust during the five years from the date of the official launch. This will include 2 VIP tickets per event for company clients. Your company logo will be able to be advertised as official K1 Britannia Sponsors at every charity function held by the Trust.',
      'Full publicity on our websites and selected K1 outlets.'
    ],
    text2: [
      'Boat usage to host your own exclusive daytime or evening corporate charity event 3 days per year where you promote the charity of your choice along with your brand.',
      'At launch we will have a major media push with press releases in dozens of countries around the world where your company will be highlighted. The yacht will come to your region every 2 years and you will be highlighted as an official sponsor (Britannia will advertise your company, brand, or persona in collaboration with your requirements and needs.)',
      'Lifetime connection with the yacht.'
    ]
  }

  var sponsorships2 = [
    'Vintage / Luxury Cars',
    'Banks / Financial Institutions',
    'Television network and other media conglomerates',
    'Fashion clothes brands',
    'Champagne Brands',
    'Energy Drinks',
    'Spirits Brands',
    'Insurance',
    'Luxury Hotels and Resorts',
    'Perfume',
    'Jewelry',
    'Watches / Timepieces',
    'Private Aircrafts',
    'Technology',
    'Green Industries',
    'Oil and Gas',
    'Sailing sporting goods',
    'Luxury Car Manufacturers',
    'Yacht Brokers',
    'Airlines'
  ]

  var sponsorships = [
    {
      category: 'Champagne',
      names: ['MOËT & CHANDON']
    },
    {
      category: 'Water',
      names: ['PERRIER']
    },
    {
      category: 'WHISKEY',
      names: ['Johnnie Walker']
    },
    {
      category: 'SPORT CAR',
      names: ['FERRARI']
    },
    {
      category: 'watches',
      names: ['OMEGA']
    },
    {
      category: 'Computers',
      names: ['INTEL']
    },
    {
      category: 'Cell Phones',
      names: ['XIAOMI']
    },
    {
      category: 'Insurance',
      names: ['UNITED HEALTH GROUP']
    },
    {
      category: 'SPORTSWEAR',
      names: ['PUMA']
    },
    {
      category: 'MENSWEAR',
      names: ['Off-White']
    },
    {
      category: 'Champagne',
      names: ['MOËT & CHANDON']
    },
    {
      category: 'Water',
      names: ['PERRIER']
    },
    {
      category: 'WHISKEY',
      names: ['Johnnie Walker']
    },
    {
      category: 'SPORT CAR',
      names: ['FERRARI']
    },
    {
      category: 'watches',
      names: ['OMEGA']
    },
    {
      category: 'Computers',
      names: ['INTEL']
    },
    {
      category: 'Cell Phones',
      names: ['XIAOMI']
    },
    {
      category: 'Insurance',
      names: ['UNITED HEALTH GROUP']
    },
    {
      category: 'SPORTSWEAR',
      names: ['PUMA']
    },
    {
      category: 'MENSWEAR',
      names: ['Off-White']
    },
    {
      category: 'Champagne',
      names: ['MOËT & CHANDON']
    },
    {
      category: 'Water',
      names: ['PERRIER']
    },
    {
      category: 'WHISKEY',
      names: ['Johnnie Walker']
    }
  ]


















