.btn
  height: 48px @lg 44px @xl 60px
  width: 212px @lg 14.513889vw
  font-family: $font-title
  text: 18px 48px 700 @lg 14px 44px 700 @xl 18px 60px
  color: #ffffff
  text-align: center
  border: 0
  outline: 0
  transition: .3s ease
  background-color: #E03A3E
  -webkit-appearance: none

  &:hover
    background: #F34C50

  &:active
    background: #F34C50