.btn
  height: 60px
  font-family: $font-title
  text: 18px 60px 700
  color: #ffffff
  padding: 0 49px
  border: 0
  outline: 0
  background-color: #E03A3E

  &:hover
    background: linear-gradient(180deg, #3791FF 0%, #2184FF 100%)
    box-shadow: 0 0 0 rgba(3, 111, 245, 0.3)

  &:active
    background: linear-gradient(180deg, #0C69DC 0%, #2184FF 100%)