@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/FuturaBT-Medium.eot');
  src: local('Futura Medium BT'), local('FuturaBT-Medium'),
    url('../fonts/futura/FuturaBT-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/futura/FuturaBT-Medium.woff2') format('woff2'),
    url('../fonts/futura/FuturaBT-Medium.woff') format('woff'),
    url('../fonts/futura/FuturaBT-Medium.ttf') format('truetype'),
    url('../fonts/futura/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/Futura-Bold.eot');
  src: local('Futura-Bold'),
    url('../fonts/futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futura/Futura-Bold.woff2') format('woff2'),
    url('../fonts/futura/Futura-Bold.woff') format('woff'),
    url('../fonts/futura/Futura-Bold.ttf') format('truetype'),
    url('../fonts/futura/Futura-Bold.svg#Futura-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
