.slider
  
  &__control
    size: 42px @md 60px
    border: 1px #F0F0F0 solid
    background: #fff svg-load('icons/arrow.svg') no-repeat center
    background-size: 23px @md 27px
    cursor: pointer
    opacity: 1
    transition: .15s ease

    &--hide
      visibility: hidden
      opacity: 0

    &--prev
      transform: scale(-1)