mixin header($class, $active)
  header.header(class=$class)
    nav.header__nav
      a.header__logo.header__logo--dark(href='/')
      .header__logo.header__logo--white

      .header__mobile-nav
        .header__mobile-nav-line
        .header__mobile-nav-line
        .header__mobile-nav-line

      .header__nav-wrap
        each name in ['history', 'press', 'about', 'partnership']
          a.header__link(
            href='/' + name + '.html'
            class=($active == name ? 'header__link--active' : '')
            )
            .header__link-text= name.charAt(0).toUpperCase() + name.slice(1)
