section.about.lines__wrap
  .container
    article.about__article
      .row
        .about__article-item.col-2.col-lg-3
          h1.about__title Purpos <br>and ethos

          h4.about__subtitle Idea and birth
          p.about__text After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received a commission from Prince Albert Edward for a sailing yacht in 1892. He designed His Royal Highness’ Yacht “Britannia” to the “Length And Sail Area Rule” as a First Class cutter, and had her built alongside his America’s Cup challenger Valkyrie II at the D&W Henderson Yard on the River Clyde. She was launched on April 20, 1893, a week ahead of Valkyrie II.

        .about__article-item.col-2.col-lg-3
          .about__slider-block
            .about__slider-wrap
              ul.about__slider
                each i in [1,2,3,4]
                  li.about__slide
                    .about__slide-img-wrap
                      img.about__slide-img(src='img/about/slide1.jpg' alt='history')

              .about__slider-controls.slider__controls
                .about__slider-control.slider__control.slider__control--prev(data-slider-control='prev')
                .about__slider-control.slider__control(data-slider-control='next')

          .about__cap After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received a commission from Prince Albert Edward for a sailing yacht in 1892. He designed His Royal Highness’ Yacht “Britannia” to the “Length And Sail Area Rule” as a First Class cutter, and had her built alongside his America’s Cup challenger Valkyrie II at the D&W Henderson Yard on the River Clyde. She was launched on April 20, 1893, a week ahead of Valkyrie II.
        
        .about__article-item.col-2.col-lg-3
          .about__img
            img.about__img-inner(src='img/about/img1.jpg' alt='history')

            .about__cap After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received

        .about__article-item.col-2.col-lg-3
          .about__img
            img.about__img-inner(src='img/about/img2.jpg' alt='history')

            .about__cap After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received
    
    article.about__article
      .row
        .about__article-item.col-2.col-lg-3
          h1.about__title The build <br>of Britannia

          h4.about__subtitle Idea and birth
          p.about__text After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received a commission from Prince Albert Edward for a sailing yacht in 1892. He designed His Royal Highness’ Yacht “Britannia” to the “Length And Sail Area Rule” as a First Class cutter, and had her built alongside his America’s Cup challenger Valkyrie II at the D&W Henderson Yard on the River Clyde. She was launched on April 20, 1893, a week ahead of Valkyrie II.

        .about__article-item.col-2.col-lg-3
          .about__slider-block
            .about__slider-wrap
              ul.about__slider
                each i in [1,2,3,4]
                  li.about__slide
                    .about__slide-img-wrap
                      img.about__slide-img(src='img/about/slide2.jpg' alt='history')

              .about__slider-controls.slider__controls
                .about__slider-control.slider__control.slider__control--prev(data-slider-control='prev')
                .about__slider-control.slider__control(data-slider-control='next')

          .about__cap After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received a commission from Prince Albert Edward for a sailing yacht in 1892. He designed His Royal Highness’ Yacht “Britannia” to the “Length And Sail Area Rule” as a First Class cutter, and had her built alongside his America’s Cup challenger Valkyrie II at the D&W Henderson Yard on the River Clyde. She was launched on April 20, 1893, a week ahead of Valkyrie II.
        

  img.parallax.about__wheel(src='img/icons/parallax-wheel.png')

  +lines('about__lines')