section.about.lines__wrap
  .container
    article.about__article
      .row
        .about__article-item.col-2.col-lg-6
          h1.about__title(data-aos) The Build of<br> the Britannia

        .col-2.col-lg-3.about__article-item
          h4.about__subtitle(data-aos) Idea and birth

          p.about__text(data-aos) In the interest of building a sustainable racing yacht, the Trust decided to enhance Britannia with an aluminum hull and keel, an idea that her original designer GL Watson had envisioned over a century ago: “We have not exhausted the possibilities of form yet,” he wrote.

          p.about__cap.about__cap--large(data-aos) “When we do arrive at perfection in shape, we can set to then look out for better material. The frames and beams, then, of my ideal ship shall be made of aluminum..."

        .col-2.col-lg-3.about__article-item
          p.about__text(data-aos) K1 Britannia will be based on GL Watson’s 1893 lines for the hull with modifications to ensure that she conforms to J Class Association rules. Other aspects of the modernized rebuild strategy include a keel-stepped carbon mast, box boom and bowsprit, carbon continuous rigging, and green technologies.

          p.about__text(data-aos) Taking the latest ideas in terms of eco-conscious technology into account, her deck equipment, rigging and sail plan will be designed for high performance with modern materials so she may race competitively with the J Class Association fleet.

        .col-2.about__article-item(data-aos)
          img.about__img-inner(src='img/about/img-large.jpg' alt='The Build of the Britannia')

        .col-2.offset-lg-1d2.col-lg-5.about__article-item
          p.about__text(data-aos) As a sensational new member of the international regatta fleet, the spirit of Britannia will set sail in bolder ways as a travelling platform for charitable causes and green initiatives the world over. Her remarkable rebuild and charitable mission will incorporate K1 Britannia Trust’s boatbuilding training and apprenticeship programs, combining the magic of sailing history, the artistry of Britannia, the yachting requirements of today and green technologies of tomorrow.

        .col-2.col-lg-3.about__article-item
          p.about__text(data-aos) Following the completion of a corporate partnership campaign, the Trust will begin construction on Britannia in early 2019 with the goal of unveiling the celebrated yacht in all her new-found glory at the America’s Cup in New Zealand in 2021.

          p.about__text(data-aos) The Trust is delighted to have the encouragement of Sigurd Coates for their modernized rebuild plans and charitable plans for K1 Britannia.

        .col-2.col-lg-3.about__article-item
          p.about__text(data-aos) The decision to commission a new rebuild of Britannia in 2018 comes after several years of research & development by the K1 Britannia Trust and key partners from the superyacht world who are acting as consultants for the project.

          p.about__cap.about__cap--large(data-aos) Bookmark this website. Additional details of the build and our future plans for Britannia will be posted in the coming months.


  img.parallax.about__wheel(src='img/icons/parallax-wheel.png')

  +lines('about__lines')