section.form.lines__wrap
  .form__wrap
    form.form__elem(action='https://formspree.io/info@k1britannia.com' method='post')
      .form__head
        .form__head-item(data-aos) Platinum
        .form__head-item(data-aos) Gold
        .form__head-item(data-aos) Silver

      .form__body
        .form__quote.quote
          p.form__desc.quote__text(data-aos) If you decide to become a part of the story reviving the legend then send us your application form.

        .form__fields(data-aos)
          .form__fields-half(data-aos)
            input.input(placeholder='Your name' name='name')
            input.input(placeholder='Your e-mail' name='email')

          .form__fields-half(data-aos)
            textarea.textarea(placeholder='Your message' name='message')

            input.btn.form__btn(type='submit' value='Send message' data-aos)

  .form__bg.parallax

  +lines('form__lines')