section.form.lines__wrap
  .form__wrap
    form.form__elem
      .form__head
        p.form__head-item Platinum
        p.form__head-item Gold
        p.form__head-item Silver
      .form__body
        .form__quote.quote
          p.form__desc.quote__text If you decide to become a part of the story reviving the legend then send us your application form.

        .form__fields
          .form__fields-half
            input.input(placeholder='Your name')
            input.input(placeholder='Your e-mail')

          .form__fields-half
            textarea.textarea(placeholder='Your message')

            input.btn.form__btn(type="submit" value="Send message")

  +lines('form__lines')

    //- .copy Copyright &copy; 2018 – K1 Britannia