.hero.lines__wrap.hero--static
  .hero__container
    .hero__title
      .hero__title-row The Spirit
      .hero__title-row of Britannia

    .hero__quote.quote
      .quote__text Our mission is to recapture the Spirit of Britannia through a charitable programme of personal development.

    .hero__discover Discover

  +lines('hero__lines')