.hero
  
  .hero__title The Spirit<br> of Britannia

  .hero__text.quote Our mission is to recapture the Spirit of Britannia through a charitable programme of personal development.

  .hero__discover Discover
