.hero__placeholder

.hero.lines__wrap
  .hero__bg.parallax
    .hero__sea.hero__bg-wraps
    .hero__ships.hero__bg-wraps
      img.hero__bg-img(src='img/hero/ships.png')
    .hero__hills.hero__bg-wraps
    .hero__clouds.hero__bg-wraps
      .hero__bg-img

  .hero__container
    .hero__title
      .hero__title-row The Spirit
      .hero__title-row of Britannia

    .hero__quote.quote
      .quote__text The K1 Britannia project is bringing one of the most iconic classic sailing yachts of all time back to life as a force for good.

    .hero__discover Discover

  +lines('hero__lines')