section.history.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.history__title.page__title(data-aos) The Rebirth <br> of a Legend
          .history__title-subtitle History of Britannia


    .row.history__block-1
      .col-2.col-md-2.col-lg-3(data-aos)
        img.img(src='img/history/1893-I.jpg' alt='Britannia being launched into the River Medina at Cowes')

      .col-2.col-md-2.col-lg-3(data-aos)
        .history__align--right.history__text--style-1
          .icon.icon--achor.history__icon

          p.text The royal cutter yacht Britannia was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. George Lennox Watson designed her to the Length and Sail Area Rule and had her constructed at the D&W Henderson Yard on the River Clyde in Scotland.


    .row.history__block-2
      .col-2.col-md-2.col-lg-3
        .history__align--left.history__text--style-2
          .icon.icon--text.history__icon(data-aos) 1893
            .icon__tips 54° 45’ 30"

          p.text(data-aos) Built of wooden planking over steel frames in little more than four months, she was launched on 20 April 1893. The time frame may have been impossibly fast by today’s standards but designer and builder alike made a fine job of Britannia.

      .col-2.col-md-2.col-lg-3
        .history__align--right(data-aos)
          img.img(src='img/history/1893-II.jpg' alt='The crew of Britannia on the aft deck')


  .history__slider-block
    .history__slider-wrap(data-aos)
      ul.history__slider
        each i in [1,2,3,4]
          li.history__slide
            .history__slide-img-wrap
              img.history__slide-img(src='img/history/slider-' + i + '.jpg' alt='history')

      .history__slider-controls
        .history__slider-control.slider__control.slider__control--prev(data-slider-control='prev')
        .history__slider-control.slider__control(data-slider-control='next')


  .container
    .row.history__block-quote(data-aos)
      .col-2.offset-lg-1.col-lg-4(data-aos)
        .history__quote.quote
          .quote__text So proud over the building of her were the men that the putting of her together was a real labour of love,” wrote journalist James Meikle at the time. “Really it was not difficult to imagine that the framework was woven together, so beautifully were the many parts joined into and onto each other.

      .col-2.col-lg-1(data-aos)
        .icon.icon--text.history__icon
            .icon__tips 2° 41’ 43"

    .row.history__block-3
      .col-2.col-md-2.col-lg-3
        .history__align--left.history__text--style-2
          .icon.icon--text.history__icon(data-aos) 1893-1897

          p.text(data-aos) The black-hulled beauty was exceptionally fast as well as stunning to look at. Moved down to Cowes, which she would call her home port for the next four decades, a top racing crew was assembled as Britannia was put through her paces in and around the Solent.

      .col-2.col-md-2.col-lg-3
        .history__align--right(data-aos)
          img.img(src='img/history/1893-1897-I.jpg' alt='Britannia in a fresh breeze with whole mainsail and jib-headed topsail')


    .row.history__block-4
      .col-2.col-md-2.col-lg-2(data-aos)
        img.img(src='img/history/1893-1897-II.jpg' alt='Racing against the cutter Meteor in 1896')

      .col-2.col-md-2.col-lg-3(data-aos)
        .history__align--right.history__text--style-6
          p.text In her first season of racing, she scored 24 wins in 43 starts, as well as nine other prizes. In 1894 Britannia won all seven races for the ‘Big Class’ yachts on the French Riviera, then beat the 1893 America’s Cup defender Vigilant in home waters. The next three years were equally successful, with another 86 prizes to her name.


    .row.history__block-5
      .col-2.col-md-2.col-lg-3
        .history__align--left.history__text--style-2
          .icon.icon--text.history__icon(data-aos) 1900-1914

          p.text(data-aos) During the years leading up to World War One Britannia was used mainly for cruising by King Edward VII and then, after his death in 1910, by his son and heir King George V.

          p.text(data-aos) While Britannia is famed for her racing exploits, she was also a beautiful boat on which to relax and many contemporaries told stories of their time onboard.

          p.text(data-aos) If her elegant exterior profile transfixed the eye of observers from afar, those lucky few who got to spend time on and below her decks never forgot the experience.

      .col-2.col-md-2.col-lg-3
        .history__align--right(data-aos)
          img.img(src='img/history/1900-1914.jpg' alt='King Edward VII takes the airs on the deck of Britannia')


    .row.history__block-6
      .col-2.col-md-2.offset-lg-1.col-lg-2(data-aos)
        img.img.history__img-4(src='img/history/1920-II.jpg' alt='Lulworth, built especially to race Britannia, leads the big class fleet')

      .col-2.col-md-2.col-lg-3(data-aos)
        .history__align--right.history__text--style-4
          .icon.icon--text.history__icon 1920

          p.text Two years after the end of what was then dubbed ‘the war to end all wars’ (if only), King George V felt that the nation needed a boost. He triggered the revival of the Big Class by announcing that he would refit Britannia for racing.


    .row.history__block-7
      .col-2.col-md-2.offset-lg-1.col-lg-2(data-aos)
        .history__align--right.history__text--style-4
          p.text Many yacht owners took up the gauntlet, including Herbert Weld who had the beautiful Lulworth built especially to race against Britannia. Although Britannia was the oldest yacht in the circuit, regular updates to her rig made her one of the most successful racers throughout the 1920s.

      .col-2.col-md-2.col-lg-2(data-aos)
        .history__align--right
          img.img.history__img-4(src='img/history/1920-III.jpg' alt='Britannia close-hauled in 1927.... Check out the plane!')



    .row.history__block-8
      .col-2.col-md-2.col-lg-2(data-aos)
        img.img.history__img-4(src='img/history/1931.jpg' alt='King George V eyes the competition from a vantage point close to the helm')

      .col-2.col-md-2.col-lg-4(data-aos)
        .history__align--right.history__text--style-4
          .icon.icon--text.history__icon 1931

          p.text The Big Class revival initiated by Britannia was one of the key reasons for the immergence of the J-class yachts, built with only one mast to the Universal Rule. Five were launched in 1930 in the UK and US, namely Enterprise, Shamrock V, Weetamoe, Whirlwind and Yankee.

          p.text Never one to resist a sailing challenge, King George commissioned a major refit for Britannia in 1931 that gave her a Bermudan rig. The legendary Charles E Nicholson designed the tallest wooden mast the world has ever seen: made of silver spruce, it weighed an incredible three tonnes.


    .row.history__block-9
      .col-2.offset-md-1.col-md-2.offset-lg-1.col-lg-4(data-aos)
        .history__align--right.history__text--style-5
          .icon.icon--cup.history__icon

          p.text.text--italic A rejuvenated Britannia went on to add 15 more firsts to her record during her final years, giving her a grand final total of 231 wins out of 635 races. Her last hurrah came in the summer of 1935 as she raced against the American J Class Yankee in British waters.

  .history__big-numbers
    .container
      .row
        .col-md-2.col-lg-3
          .big-number.history__big-numbers-first(data-aos)
            .big-number__value 40
            .big-number__text years<br> career

        .col-md-2.offset-lg-1.col-lg-2
          .big-number.history__big-numbers-last(data-aos)
            .big-number__value 231
            .big-number__text fist <br> places



  .container
    .row.history__block-10
      .col-2.col-md-2.col-lg-3(data-aos)
        .history__text--style-3
          .icon.icon--text.history__icon 1936

          p.text In January 1936 the British people mourned as King George V passed away. It was announced that in accordance with the monarch’s wishes upon his death, Britannia would be stripped of her spars and fittings and scuttled.

      .col-2.col-md-2.col-lg-3(data-aos)
        img.img(src='img/history/1936.jpg' alt='1936')


    .offset-lg-1
      .history__text--style-7(data-aos)
        p.text On 10 July 1936 her hull was picked up by HMS Winchester and towed out to St. Catherine’s Deep near the Isle of Wight. There she was scuttled and laid to rest beneath the waves, with a simple garland of flowers placed on her stem-head.


    .row.history__block-9
      .col-2.col-md-2.col-lg-3(data-aos)
        img.img(src='img/history/1994.jpg' alt='1994')

      .col-2.col-md-2.col-lg-3(data-aos)
        .history__text--style-3.history__align--right
          .icon.icon--text.history__icon 1994

          p.text Norwegian entrepreneur Sigurd Coates decides to follow a long-cherished wish and began construction of a replica of Britannia at the Solombala shipyard in Archangel, Russia. “It started with a dream and following your dreams is a big part of life,” he says at the time.

          p.text The project becomes a labour of love that takes 11 years to complete and involves seven different nationalities. Using the original drawings from Scotland, Sigurd and his team recreate the hull in pine wood with a laminated oak frame.


    .row.history__block-7
      .col-2.offset-lg-2(data-aos)
        .icon.icon--text.history__icon 2009

      .col-2.col-md-2.offset-lg-2.col-lg-3(data-aos)
        .history__text--style-3
          p.text Although the boat is ready to launch for outfitting in 2005, Britannia becomes enmeshed in a legal minefield in Russia for another five years. By the time Sigurd is finally able to take possession of his Britannia in 2009 and move her to Norway for completion the global recession had taken its toll financially.


    .row.history__block-7
      .col-2.col-md-2.col-lg-3(data-aos)
        .history__align--right
          .icon.icon--text.history__icon 2012
          .history__text--style-3
            p.text Realising the difficulty of completing the project, Sigurd is inspired by the ideas of the K1 Britannia Trust to use the boat as a flagship for charity. The hull is transported to Cowes and taken out of the water at the Southboats yard. K1 invests in the scaffolding, cradle, tools and workmen required and work begins in earnest on the final stages of the Britannia build.

      .col-2.col-md-2.col-lg-3(data-aos)
        .history__align--right
          img.img(src='img/history/2012.jpg' alt='2012')


    .row.history__block-7
      .col-2.col-md-2.col-lg-3(data-aos)
        img.img(src='img/history/2013.jpg' alt='2013')

      .col-2.col-md-2.col-lg-3(data-aos)
        .history__align--right.history__text--style-3
          .icon.icon--text.history__icon 2013

          p.text The Southboats yard is liquidated and all building work has to be stopped. Britannia is placed back in the water. Over the next couple of years, various surveyors research the yacht and outline a full scope of the work still to be undertaken.

    .history__block-7
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-3(data-aos)
        .history__text--style-3
          p.text This information induces the K1 team to start broadening its horizons as to the type of replica which could be built and how they might best fulfil the boat’s purpose and ensure her relevance in the modern world.


    .row.history__block-7
      .col-2.offset-lg-1(data-aos)
        .icon.icon--text.history__icon 2018

      .col-2.col-md-3.offset-lg-1.col-lg-4(data-aos)
        .history__text--style-3
          p.text Based on all this research, and in the interest of sustainability, the decision is taken to make the most of all the technologies that are available to boatbuilders today and start the build again. This includes giving Britannia an aluminium hull, an idea that her original designer GL Watson had fantasied about over a century ago: “We have not exhausted the possibilities of form yet,” he wrote.

          p.text.text--italic “When we do arrive at perfection in shape, we can set to then look out for better material. The frames and beams, then, of my ideal ship shall be made of aluminium..."

          p.text The project team is delighted to have the encouragement of Sigurd Coates for this new venture, a man who gave so much to his own rebuild of Britannia. “I fully support the decision to build a new aluminium hull for K1 Britannia,” he says. “This will give ‘The Greatest Sail-Yacht of all time’ a better chance in competitive racing.”





  img.parallax.history__map(src='img/history/map-bg.svg')
  img.parallax.parallax__k1.history__k1(src='img/icons/parallax-k1.svg')

  +lines('history__lines')