section.history.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.history__title.page__title(data-aos data-aos-delay="50") The birth<br> of a legend


    .row.history__block-1
      .col-2.col-md-2.col-lg-3(data-aos data-aos-delay="150")
        img.img(src='img/history/photo-1.jpg' alt='photo')

      .col-2.col-md-2.col-lg-3(data-aos data-aos-delay="2200")
        .history__align--right.history__text--style-1
          .icon.icon--achor.history__icon

          p.text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.


    .row.history__block-2
      .col-2.col-md-2.col-lg-3
        .history__align--left.history__text--style-2
          .icon.icon--text.history__icon 1891
            .icon__tips 54° 45’ 30"

          p.text After the Prince of Wales’ nephew Kaiser Wilhelm II acquired the racing cutter Thistle in 1891, her Scottish designer George Lennox Watson received a commission from Prince Albert Edward for a sailing yacht in 1892. He designed His Royal Highness’ Yacht “Britannia” to the “Length And Sail Area Rule” as a First Class cutter, and had her built alongside his America’s Cup challenger Valkyrie II at the D&W Henderson Yard on the River Clyde. She was launched on April 20, 1893, a week ahead of Valkyrie II.

      .col-2.col-md-2.col-lg-3
        .history__align--right
          img.img(src='img/history/photo-2.jpg' alt='photo')


  .history__slider-block
    .history__slider-wrap
      ul.history__slider
        each i in [1,2,3,4]
          li.history__slide
            .history__slide-img-wrap
              img.history__slide-img(src='img/history/slider-1.jpg' alt='history')

      .history__slider-controls
        .history__slider-control.slider__control.slider__control--prev(data-slider-control='prev')
        .history__slider-control.slider__control(data-slider-control='next')


  .container
    .row.history__block-quote
      .col-2.offset-lg-1.col-lg-4
        .history__quote.quote
          .quote__text Both designer and builder made a fine job of the Prince’s new yacht. It was said of Britannia that ‘a better-balanced and better-built vessel never crossed the starting line.’ Yachting writers referred to her shape as ‘the Britannia ideal’.

      .col-2.col-lg-1
        .icon.icon--text.history__icon
            .icon__tips 2° 41’ 43"


    .row.history__block-3
      .col-2.col-md-2.col-lg-3
        .history__text--style-3
          p.text She was a handsome vessel! Henderson’s built her light and strong, a perfect race yacht. Yachting journalist James Meikle once wrote: “So proud over the building of her were the men that the putting of her together was a real labour of love. Really it was not difficult to imagine that the framework was woven together, so beautifully were the many parts joined into and onto each other.”

      .col-2.col-md-2.col-lg-3
        img.img(src='img/history/photo-3.jpg' alt='photo')


    .row.history__block-4
      .col-2.col-md-2.col-lg-2
        img.img.history__img-4(src='img/history/photo-4.jpg' alt='photo')

      .col-2.col-md-2.col-lg-3
        .history__align--right.history__text--style-4
          .icon.icon--text.history__icon 1931

          p.text Built of wooden planking over steel frames, she had a major refit in 1931 where she was transformed by a Bermudan rig. Made of silver spruce, it was the largest mast ever made as one spar for a yacht, weighing over 3 tons.


    .row.history__block-5
      .col-2.col-md-2.offset-lg-1.col-lg-2
        img.img.history__img-5(src='img/history/photo-5.jpg' alt='photo')

      .col-2.col-md-2.col-lg-3
        .history__align--right.history__text--style-5
          .icon.icon--cup.history__icon

          p.text.text--italic During her racing career, which spanned over 40 years, in 635 races she won 231 firsts out of a total of 350 prizes. 

    
    .row.history__block-6
      .col-2.col-md-2.col-lg-2
        img.img.history__img-6(src='img/history/photo-6.jpg' alt='photo')

      .col-2.col-md-2.col-lg-3
        .history__align--right.history__text--style-6
          p.text By the end of her first year’s racing, Britannia had scored thirty-three wins from forty-three starts. In her second season, she won all seven races for the big class yachts on the French Riviera, and then beat the 1893 America’s Cup defender Vigilant in home waters.

  .history__big-numbers
    .container
      .row
        .col-md-2.col-lg-3
          .big-number.history__big-numbers-first
            .big-number__value 40
            .big-number__text years<br> career

        .col-md-2.offset-lg-1.col-lg-2
          .big-number.history__big-numbers-last
            .big-number__value 231
            .big-number__text fist <br> places


  .container
    .offset-lg-1
      .history__text--style-7
        p.text In January 1936 the British people mourned as King George V passed away. It was announced that in accordance with the late King’s wishes upon his death, Britannia would be stripped of her spars and fittings and scuttled. So on the 10th of July 1936, her hull was picked up by HMS Winchester (L55) and towed out to St. Catherine’s Deep near the Isle of Wight. There she was scuttled and sent to rest beneath the waves, with a simple garland of flowers placed on her stem-head.

        p.text This fate marked the end of big yacht racing in Europe, with the smaller and more affordable International Rule 12-Meter Class gaining popularity.


  img.parallax.history__map(src='img/history/map-bg.svg')
  img.parallax.parallax__k1.history__k1(src='img/icons/parallax-k1.svg')

  +lines('history__lines')