section.history.page.lines__wrap
  .container
    .row
      .col-2.offset-lg-2.col-lg-4
        h2.history__title.page__title The birth<br> of a legend

    .row
      .col-2.col-lg-3
        img.img(src='img/history/photo-1.jpg')

      .col-2.col-lg-3
        .history__text--right.history__text--1
          .icon.icon--achor.history__icon
          p.text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

  img.parallax.history__map(src='img/history/map-bg.svg')

  img.parallax.history__k1(src='img/icons/parallax-k1.svg')

  +lines('history__lines')