section.links.lines__wrap.links--animate-disable
  //- img.links__cloud(src='img/links/bg-clouds.jpg')

  .container
    .row
      .col-2.offset-lg-2.col-lg-4
        h2.links__title(data-aos) Explore our<br> charities

        .links__items-scroll
          .links__items-wrap
            each item in links
              .links__item(data-aos)
                a.links__img-wrap(href=item.site target='_blank')
                  img.links__img(src='img/links/' + item.logo + '.svg' alt='K1 ' + item.title)

                a.links__text(href=item.site target='_blank')
                  .links__item-title K1
                  .links__item-desc= item.title

                if item.child
                  .links__childs
                    .links__childs-title Charitable Partners

                    .links__childs-wrap
                      each child in item.child
                        .links__child
                          a(href=child.site target='_blank')
                            img.links__child-img(src='img/links/' + child.logo alt='logo')


  +lines('links__lines')


