section.partnership.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.partnership__title.page__title(data-aos) K1’s Three Tiers of
          .partnership__title-line Corporate Partnership

      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        .partnership__subtitle(data-aos) Be a part of history in the making

        p.partnership__text-large(data-aos) Join the Britannia Corporate Partnership program and align your brand with the rebirth of the world's most beloved sailing yacht and enjoy an exclusive relationship with the Britannia.

      .col-2.col-md-4.offset-lg-1.col-lg-5.partnership__md-offset
        .partnership__tabs(data-aos)
          .partnership__tab.partnership__tab--platinum Platinum
          .partnership__tab.partnership__tab--gold Gold
          .partnership__tab.partnership__tab--silver Silver

          p.partnership__text.partnership__text--wide.partnership__text--single(data-aos) We’re proud to provide a unique opportunity to showcase your company/brand before an influential, global audience and be part of an inaugural group associated with one of the most prestigious maritime projects of our time.

          p.partnership__text.partnership__text--wide.partnership__text--single(data-aos) A limited number of category exclusive partners will be invited to invest in the rebuild of Britannia. As an inaugural partner, you will benefit from an elite package of privileges including (but not limited to):

          .partnership__tab-content
            p.partnership__text(data-aos) The honor and right to charter Britannia for a select number of days per year. As she will never be commercially chartered, this is a truly one-off opportunity.

            p.partnership__text(data-aos) Global media attention and acknowledgment of your role across multiple platforms and onsite branding as a key investor in and champion of the rebirth of Britannia and its charitable mission.

            p.partnership__text(data-aos) Opportunities for customized and exclusive product placement on and surrounding the boat.

            p.partnership__text(data-aos) Exclusive association with the boat in your industry sector.

            p.partnership__text.partnership__text--wide(data-aos) Invitations to pre-launch and official launch ceremonies and access to dignitaries, business leaders, celebrities and notable individuals from around the world at various celebratory launch activities and high profile events featuring Britannia.

          p.partnership__text.partnership__text--wide.partnership__text--single(data-aos) K1 will also be collaborating with each of its corporate partners to tailor bespoke sponsorship packages that align with and advance your key business objectives.

      //- .col-2.col-md-4.offset-lg-1.col-lg-5
      //-   .partnership__list
      //-     each category in sponsorships
      //-       .partnership__list-item(data-aos)
      //-         .partnership__list-title= category.category

      //-         each name in category.names
      //-           .partnership__list-name= name

      .col-2.offset-md-1.col-md-3.offset-lg-1.col-lg-4
        p.partnership__text-large-2(data-aos) We’re offering one corporate partner in each of the following industry sectors the unique opportunity to become an inaugural partner and enjoy category exclusivity and premium visibility:

      .col-2.offset-md-1.col-md-3.offset-lg-1.col-lg-5
        .partnership__list
          each category in sponsorships2
            .partnership__list-item(data-aos)
              .partnership__list-title= category

  img.parallax.parallax__k1.partnership__vert-text(src='img/icons/parallax-partnership.svg')

  +lines('partnership__lines')