section.partnership.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.partnership__title.page__title(data-aos) K1 Three Tier<br> Corporate<br> Partnership

      .col-2.col-md-3.offset-lg-1.col-lg-5
        .partnership__tabs(data-aos)
          .partnership__tab.partnership__tab--platinum Platinum
          .partnership__tab.partnership__tab--gold Gold
          .partnership__tab.partnership__tab--silver Silver

          .partnership__tab-content
            p.partnership__text(data-aos) Invitation for your CEO or company representative to attend board meetings where they can represent your country/region and have a say in what charities we work with in your region and what events/activities we participate in your region.

            p.partnership__text(data-aos) Your name will be added to a plaque that will be placed on the boat in special ceremony during the launch. Optional: Have Britannia be part of your life’s legacy and have our legacy advisor help to create a legacy package catered specifically for you.

            p.partnership__text(data-aos) Also as above; but will include 10 VIP tickets per event for company clients. Have Britannia be part of your life’s legacy and have our legacy advisor help to create a legacy package catered specifically.

            p.partnership__text(data-aos) You may have full use of the yacht for one fundraising or promotional event a year for your official cause/charity that’s associated with your company.

            p.partnership__text(data-aos) Boat usage 7 days per year. If you should choose to book for a regatta you can have a spinnaker created with your company logo along side the charity of your choice that can be flown during the regatta.

            p.partnership__text(data-aos) Your corporation may negotiate terms at the time of sponsorship agreement on how you can use the boat for your allotted week a year and for when the boat comes to your part of the world.


      .col-2.col-md-4.offset-lg-1.col-lg-5
        .partnership__list
          each category in sponsorships
            .partnership__list-item(data-aos)
              .partnership__list-title= category.category

              each name in category.names
                .partnership__list-name= name

  img.parallax.parallax__k1.partnership__vert-text(src='img/icons/parallax-partnership.svg')

  +lines('partnership__lines')