section.partnership.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.partnership__title.page__title(data-aos) Press<br> about us

  img.parallax.parallax__k1.partnership__vert-text(src='img/icons/parallax-partnership.svg')

  +lines('partnership__lines')