section.partnership.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.partnership__title.page__title(data-aos) K1 Three Tier<br> Corporate<br> Partnership

      .col-2.col-md-3.offset-lg-1.col-lg-5
        .partnership__tabs(data-aos)
          .partnership__tab.partnership__tab--platinum(data-accordion-one data-accordion-active) Platinum
          .partnership__tab-content
            p.partnership__text(data-aos) Invitation for your CEO or company representative to attend board meetings where they can represent your country/region and have a say in what charities we work with in your region and what events/activities we participate in your region.

            p.partnership__text(data-aos) Your name will be added to a plaque that will be placed on the boat in special ceremony during the launch. Optional: Have Britannia be part of your life’s legacy and have our legacy advisor help to create a legacy package catered specifically for you.

            p.partnership__text(data-aos) Also as above; but will include 10 VIP tickets per event for company clients. Have Britannia be part of your life’s legacy and have our legacy advisor help to create a legacy package catered specifically.

            p.partnership__text(data-aos) You may have full use of the yacht for one fundraising or promotional event a year for your official cause/charity that’s associated with your company.

            p.partnership__text(data-aos) Boat usage 7 days per year. If you should choose to book for a regatta you can have a spinnaker created with your company logo along side the charity of your choice that can be flown during the regatta.

            p.partnership__text(data-aos) Your corporation may negotiate terms at the time of sponsorship agreement on how you can use the boat for your allotted week a year and for when the boat comes to your part of the world.

          .partnership__tab.partnership__tab--gold(data-accordion-one) Gold
          .partnership__tab-content
            p.partnership__text The same as above; but it will include 6 VIP ticketsper event for company clients. Your company logo will have a higher listing as official K1 Britannia Sponsors at every charity function.

            p.partnership__text Boat usage 5 days per year. You will have access to the full events calendar and can use part or all your available dates to book during a major event.

            p.partnership__text (Film Festival/F1/Boat show/Regatta - All events have to be pre-booked in advance according to availability.)

            p.partnership__text Be included in a dedication to sponsors in commemorative book and final documentary that will be launched after the build is complete and that will be sold and gifted around the world.

          .partnership__tab.partnership__tab--silver(data-accordion-one) Silver
          .partnership__tab-content
            p.partnership__text At launch we will have a major media push with press releases in dozens of countries around the world where your company will be highlighted. The yacht will come to your region every 2 years and you will be highlighted as an official sponsor (Britannia will advertise your company, brand, or persona in collaboration with your requirements and needs.)

            p.partnership__text Company invitation to have representatives at all charity events (UK and International) hosted on the yacht Britannia and or any other promotional events hosted by The K1 Britannia Trust during the five years from the date of the official launch. This will include 2 VIP tickets per event for company clients. Your company logo will be able to be advertised as official K1 Britannia Sponsors at every charity function held by the Trust.

            p.partnership__text VIP Invitations to the Launch Ceremony. Your company’s sponsorship and charitable credentials will be highlighted at this and every other occasion.

            p.partnership__text Boat usage to host your own exclusive daytime or evening corporate charity event 3 days per year where you promote the charity of your choice along with your brand.

            p.partnership__text Full publicity on our websites and selected K1 outlets.

            p.partnership__text Lifetime connection with the yacht.


      .col-2.col-md-4.offset-lg-1.col-lg-5
        .partnership__list
          each category in sponsorships
            .partnership__list-item(data-aos)
              .partnership__list-title= category.category

              each name in category.names
                .partnership__list-name= name

  img.parallax.parallax__k1.partnership__vert-text(src='img/icons/parallax-partnership.svg')

  +lines('partnership__lines')