section.press.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.press__title.page__title(data-aos) Press<br> about us

    .row
      .col-2.offset-lg-1.col-lg-4
        article.press__article.press__article--large(data-aos)
          a.press__article-img-wrap(href='#!' data-aos)
            img.press__article-img(src='img/press/img-1.jpg' alt='news')
            .press__article-title The Shell company became the golden partner

          .press__article-content(data-aos)
            p.press__article-text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!' data-aos) Read more


    .row
      .col-2.col-lg-3
        article.press__article(data-aos)
          a.press__article-img-wrap(href='#!' data-aos)
            img.press__article-img(src='img/press/img-2.jpg' alt='news')
            .press__article-title(data-aos) How to invest correctly in history

          .press__article-content
            p.press__article-text(data-aos) The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!' data-aos) Read more

      .col-2.col-lg-3
        article.press__article(data-aos)
          a.press__article-img-wrap(href='#!' data-aos)
            img.press__article-img(src='img/press/img-3.jpg' alt='news')
            .press__article-title(data-aos) Sea, finances and prestige

          .press__article-content
            p.press__article-text(data-aos) The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!' data-aos) Read more

      .col-2.col-lg-3
        article.press__article(data-aos)
          a.press__article-img-wrap(href='#!' data-aos)
            img.press__article-img(src='img/press/img-2.jpg' alt='news')
            .press__article-title(data-aos) How to invest correctly in history

          .press__article-content
            p.press__article-text(data-aos) The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!' data-aos) Read more



  .parallax.press__bg
  img.parallax.parallax__anchor.press__anchor(src='img/icons/parallax-anchor.jpg')
  img.parallax.parallax__k1.press__k1(src='img/icons/parallax-k1.svg')

  +lines('press__lines')