section.press.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.press__title.page__title(data-aos) Press<br> about us

    .row
      .col-2.offset-lg-1.col-lg-4
        each item in press
          +press_release(item)

  .parallax.press__bg
  img.parallax.parallax__anchor.press__anchor(src='img/icons/parallax-anchor.jpg')
  img.parallax.parallax__k1.press__k1(src='img/icons/parallax-k1.svg')

  +lines('press__lines')