section.press.lines__wrap
  .container
    .row
      .col-2.offset-md-1.col-md-3.offset-lg-2.col-lg-4
        h2.press__title.page__title Press<br> about us

    .row
      .col-2.offset-lg-1.col-lg-4
        article.press__article.press__article--large
          .press__article-img-wrap
            img.press__article-img(src='img/press/img-1.jpg' alt='news')
            .press__article-title The Shell company became the golden partner

          .press__article-content
            p.press__article-text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!') Read more


    .row
      .col-2.col-lg-3
        article.press__article
          .press__article-img-wrap
            img.press__article-img(src='img/press/img-2.jpg' alt='news')
            .press__article-title How to invest correctly in history

          .press__article-content
            p.press__article-text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!') Read more

      .col-2.col-lg-3
        article.press__article
          .press__article-img-wrap
            img.press__article-img(src='img/press/img-3.jpg' alt='news')
            .press__article-title Sea, finances and prestige

          .press__article-content
            p.press__article-text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!') Read more

      .col-2.col-lg-3
        article.press__article
          .press__article-img-wrap
            img.press__article-img(src='img/press/img-2.jpg' alt='news')
            .press__article-title How to invest correctly in history

          .press__article-content
            p.press__article-text The Yacht Britannia, was built by Henderson’s on the Clyde in 1893 for Queen Victoria’s son Albert Edward, then Prince of Wales. She served him and his son, King George V, with a long yachting and racing career.

            a.press__article-link.wave-link(href='#!') Read more



  img.parallax.press__bg(src='img/press/bg.jpg')
  img.parallax.press__anchor(src='img/press/anchor.jpg')
  img.parallax.press__k1(src='img/icons/parallax-k1.svg')

  +lines('press__lines')