section.sponsorship.lines__wrap
  .container
    .row
      +sponsorship(sponsor1, 'sponsorship__item--platinum offset-lg-2 col-lg-4 ')
      +sponsorship(sponsor2, 'sponsorship__item--gold offset-lg-1 col-lg-4 ')
      +sponsorship(sponsor3, 'sponsorship__item--silver offset-lg-2 col-lg-4 ')

  +lines('sponsors__lines')