section.sponsors.lines__wrap
  .container
    .row
      .offset-lg-2.offset-md-0.col-lg-4.col-md-4.col-2
        h2.sponsors__title Sponsors

        .sponsors__slider
          each i in [1,2,3,4,5,6,7,8,9,10]
            .sponsors__img-wrap
              img.sponsors__img(src='img/sponsors/'+i+'.jpg', alt='sponsor')

        .sponsors__quote.quote 
          .quote__text The Restoration Programme centres on the construction of a replica of Britannia based on her original lines designed by GL Watson.

        a.wave-link.sponsors__link(href='#!') More about sponsorship

  
  +lines('sponsors__lines')