include inc/head.pug
include inc/header.pug
+header('header--permanent-scroll header--is-scroll', 'history')

include blocks/history.pug

include inc/footer.pug
+footer('offset-lg-1')
include inc/foot.pug