extends layouts/layout.pug

block title
  title History | K1

block header
  +header('header--permanent-scroll header--is-scroll header--is-show', 'history')

block content
  include blocks/history.pug
