extends layouts/layout.pug

block onload
  include inc/loader.pug

block header
  +header('header--on-home')

block content
  .home.home--animate-disable.home--scroll-hide
    include blocks/hero-static.pug
    include blocks/links.pug
    include blocks/form.pug
    img.parallax.parallax__k1.home__k1.home__k1--show(src='/img/icons/parallax-k1.svg')
