extends layouts/layout.pug

block onload
  include inc/loader.pug

block header
  +header

block content
  .home.home--scroll-hide
    include blocks/hero.pug
    include blocks/links.pug
    include blocks/sponsors.pug
    include blocks/form.pug
    img.parallax.parallax__k1.home__k1(src='/img/icons/parallax-k1.svg')
