extends layouts/layout.pug

block title
  title Partnership | K1

block header
  +header('header--permanent-scroll header--is-scroll header--is-show', 'partnership')

block content
  include blocks/partnership.pug
