include inc/head.pug
include inc/header.pug
+header('header--permanent-scroll header--is-scroll header--is-show', 'sponsorship')

include blocks/sponsorship.pug

include inc/footer.pug
+footer('offset-lg-2')
include inc/foot.pug