extends layouts/layout.pug

block title
  title K1 Britannia

block header
  include inc/loader.pug
  +header('header--on-home')

block content
  .home.home--animate-disable.home--scroll-hide
    include blocks/hero-static.pug
    include blocks/links.pug
    include blocks/form.pug
    img.parallax.parallax__k1.home__k1.home__k1--show(src='/assets/images/icons/parallax-k1.svg')
