extends layouts/layout.pug

block title
  title Press Releases | K1

block header
  +header('header--permanent-scroll header--is-scroll header--is-show', 'press')

block content
  include blocks/press.pug
