include ../inc/var.pug
include ../inc/mixins.pug
block onload
doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block meta
      meta(name='description', content= meta.description)
      meta(itemprop='name' content= meta.title)
      meta(itemprop='description' content= meta.description)
      meta(itemprop='image' content= meta.image)
      meta(property='og:title' content= meta.title)
      meta(property='og:site_name' content= meta.title)
      meta(property='og:url' content= meta.url)
      meta(property='og:description' content= meta.description)
      meta(property='og:image' content= meta.image)
    block title
      title K1
    block head
      script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-90570626-7')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-90570626-7');
      link(rel="preconnect" href="https://fonts.bunny.net")
      link(href='/assets/styles/libs.css' rel='stylesheet')
      link(href='https://fonts.bunny.net/css?family=cardo:400,700|montserrat:300,400,500,600' rel='stylesheet')
      link(href='/assets/styles/main.css?rev=@@hash' rel='stylesheet')
      link(rel='shortcut icon' href='/assets/images/icons/favicon.png' type='image/png')

  - var bodyClasses = [];
  block beforeBody

  body(class=bodyClasses)
    include ../inc/header.pug
    block header
    block content
    include ../inc/footer.pug
    block footer
      +footer('offset-lg-2')
    block foot
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
      script(type='text/javascript' src='/assets/scripts/libs.js')
      script(type='text/javascript' src='/assets/scripts/main.js?rev=@@hash')
